{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Toutes les catégories</h1>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">{{ category.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
