{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Bienvenue sur notre application</h1>
    <p>Utilisez le menu pour naviguer entre les catégories et les tâches.</p>
</div>
{% endblock %}
